body { padding-top: 80px; }
@media ( min-width: 768px ) {
  #banner {
    min-height: 300px;
    border-bottom: none;
  }
  .bs-docs-section {
    margin-top: 8em;
  }
  .bs-component {
    position: relative;
  }
  .bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
  }
  .bs-component .modal-dialog {
    width: 90%;
  }
  .bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
  .nav-tabs {
    margin-bottom: 15px;
  }
  .progress {
    margin-bottom: 10px;
  }
}

a {
  color: #6186b3;
}

.list-icon {
  width: 32px;
  color: #444;
  font-size: 1.5em;
  text-align: center;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #E0AE1B;
}

@media screen and (min-width: 992px) {
  #page-header .navbar {
    background:url(../img/header-asanoha-bg.jpg) center no-repeat; background-size: cover;
  }
}

#page-header .navbar-brand {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
#page-header .navbar-brand img {
  height: 120%;
  padding: 0 4px;
  width: auto;
}
#page-header .navbar-nav li a {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 0;
  font-size: 18px;
}
#page-header,
#page-header .navbar,
#page-header .navbar-brand,
#page-header .navbar-brand img,
#page-header .navbar-nav li a {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
#page-header.compact .navbar {
  min-height: 40px;
}
#page-header.compact .navbar-brand {
  height: 40px;
  padding: 8px 10px;
  font-size: 20px;
}
#page-header.compact .navbar-brand img {
  height: 90%;
}
#page-header.compact .navbar-nav li a {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
}
#page-header.compact .navbar-toggle {
  margin-top: 3px;
  margin-bottom: 3px;
}

.panel-default {
  border-radius: 5px;
  -moz-box-shadow: 0 2px 4px rgba(50,50,50,.1);
  -webkit-box-shadow: 0 2px 4px rgba(50,50,50,.1);
  box-shadow: 0 2px 4px rgba(50,50,50,.1);
}
.panel-default > .panel-heading {
  border-radius: 5px 5px 0px 0px;
  color: #fff;
  background-color: #BBA56A;
  border-color: #aa8;
}
.panel-default > .panel-body {
  padding: 20px;
  border-color: none;
}

.jumbotron {
  margin-bottom: 0;
}
.jumbotron.header-bg {
  background: url(../img/header-bg-gold.jpg) center no-repeat; background-size: cover;
  position: relative;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0,.3) inset;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .jumbotron.header-bg {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.jumbotron .container {
  /* position: absolute; */
  width: 100%;
  text-align: center;
}
.jumbotron .coin-icon {
  width: 200px;
}
@media screen and (min-width: 992px) {
  .jumbotron .coin-icon {
    width: 480px;
  }
}
.jumbotron h1,.jumbotron p {
	color: #fff;
}
.jumbotron h1 {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 0px 0px 8px rgba(0,0,0,.5);
  margin-top: 0;
}
.jumbotron p {
  font-weight: 600;
  padding-left: 8px;
  font-size: 16px;
  text-shadow: 0px 0px 8px rgba(0,0,0,.5);
}
@media screen and (min-width: 992px) {
  .jumbotron h1 {
    font-size: 118px;
    text-align: left;
  }
  .jumbotron p {
    font-size: 24px;
    text-align: left;
  }
  .vertical-align {
      display: flex;
      align-items: center;
  }
}

.container {
  max-width: 1080px;
}

section {
  padding-top: 20px;
  padding-bottom: 50px;
}
section ul {
  list-style: none;
  padding-left: 10px;
}
section li {
  color: #393939;
  padding: 5px 0;
}
.section-title {
  margin-bottom: 20px;
  font-weight: 600;
}
@media screen and (min-width: 992px) {
  .section-title {
    margin-bottom: 30px;
    font-size: 44px;
  }
}

.section-description {
  background:url(../img/seigaiha-bg.jpg) center no-repeat; background-size: cover;
  position: relative;
}
.section-description p {
  color: #666;
}
.section-description hr {
  border-color: #ddd;
}
.description-box {
  margin: 10px 0;
}
.description-box h2 {
  color: #666;
  font-weight: 600;
}
.description-box h2 i {
  color: #E0AE1B;
}
@media screen and (min-width: 992px) {
  .description-box .box1 {
    margin: 24px 10px 36px;
  }
  .description-box .box2 {
    margin: 24px 10px 66px;
  }
  .description-box .box3 {
    margin: 24px 10px 56px;
  }
}
.description-link {
  font-weight: 600;
  font-size: 24px;
  margin: 5px 60px;
}
a:hover.description-link {
  color: #999;
}
a.description-link {
  color: #666;
}

.section-getting-started {
  background:url(../img/seigaiha-bg.jpg) center no-repeat; background-size: cover;
  position: relative;
}

.section-news {
  background:url(../img/sippou-bg.jpg) repeat;
  position: relative;
}
.section-news h2 {
  margin-top: 8px;
  /* like twitter */
  font-size: 27px;
  font-family: Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
}
.pickup-news {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 12px;
  margin-bottom: 20px;
  -moz-box-shadow: 0 2px 4px rgba(50,50,50,.1);
  -webkit-box-shadow: 0 2px 4px rgba(50,50,50,.1);
  box-shadow: 0 2px 4px rgba(50,50,50,.1);
}
.pickup-news hr {
  margin: 0 -10px 15px;
}
.pickup-news p {
  /* font-weight: 600; */
}
.pickup-news ul {
  margin-top: 0;
}
.pickup-news-list {
  min-height: 200px;
}
.twitter-widget iframe {
  -moz-box-shadow: 0 2px 4px rgba(50,50,50,.1);
  -webkit-box-shadow: 0 2px 4px rgba(50,50,50,.1);
  box-shadow: 0 2px 4px rgba(50,50,50,.1);
}

.section-community {
  background:url(../img/sippou-bg.jpg) repeat;
  position: relative;
}

.link-icon {
  width: 24px;
  height: 24px;
  margin-left: 4px;
  margin-right: 4px;
}

.region {
  margin-left: 8px;
  padding: 2px 8px;
  border-radius: 4px;
  background-color: #666;
  color: #fff;
  font-size: 12px;
}

.section-footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #fff;
}
@media screen and (min-width: 992px) {
  .section-footer{
    background:url(../img/footer-asanoha-bg.jpg) center no-repeat; background-size: cover;
    position: relative;
  }
}

.section-footer .navbar-nav{
    float: none;
    width: 420px;
    margin: 10px auto;
}
.section-footer .navbar-nav>li{
    text-align: center;
    width: 80px;
    font-size: 12px;
}
.section-footer .navbar-nav>li>a{
    color: #333;
}

.sns-icon{
    margin-top: 20px;
}
.sns-icon li{
    padding-left: 20px;
    color: #666;
}
.sns-icon li:hover{
    color: #999;
}

.copyright{
    margin-top: 20px;
    color: #666;
    font-size: 12px;
}
